In [20]:
import pathlib
import pandas as pd

In [21]:
filename = pathlib.Path.cwd() / 'Base_MindMiners.xlsx'
db = pd.read_excel('Base_MindMiners.xlsx')

In [22]:
db.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Variável,Tipo,Pergunta,Respostas/Categorias
1,NaN,P1,Resposta Única,Quantas vezes você costuma viajar por ano?,(1) 1 a 3 vezes; (2) 4 a 6 vezes; (3) 7 a 10 v...
2,NaN,P2,Resposta Múltipla,Qual foi o princípal motivo de suas ultimas vi...,(1) Visitar amigos; (2) Visitar familia; (3)La...
3,NaN,P3,Escala,O quão importante para você é a infraestrutura...,1 (Não Utilizo) ; 2 ; 3 ; 4 ; 5 ; 6 ; 7 (Utili...
4,NaN,P4,Escala,Restaurante,1 (Não utilizo) ; 2 ; 3 ; 4 ; 5 ; 6 ; 7 (Utili...

In [23]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  72 non-null     object
 2   Unnamed: 2  72 non-null     object
 3   Unnamed: 3  72 non-null     object
 4   Unnamed: 4  72 non-null     object
dtypes: float64(1), object(4)
memory usage: 2.9+ KB

In [24]:
df = pd.read_excel('Base_MindMiners.xlsx', sheet_name='Pesquisa-Respostas')

In [25]:
df.head()

,Unnamed: 0,P1,P2,P3,P4,Unnamed: 5,P5,P6,.P7,P8,...,Qtipcama,Qcama,Qest,Qche,Qocup,Qid,Qgen,Qreg,Qclasse,Qs
0,NaN,2.0,7,7.0,5.0,NaN,4,2,6,7.0,...,Viuvo,1.0,4.0,Sábado,2.0,6.0,1.0,2.0,B,Dados para Marketing
1,NaN,3.0,2,2.0,6.0,4.0,4,2,5,1.0,...,Solteiro,1.0,1.0,Quinta-Feira,2.0,6.0,1.0,5.0,B,NaN
2,NaN,1.0,7,7.0,5.0,NaN,4,5,6,6.0,...,Viuvo,1.0,3.0,Sábado,3.0,4.0,1.0,2.0,B,Dados para Hotel
3,NaN,1.0,3,4.0,4.0,NaN,6,6,1,7.0,...,Casado,1.0,6.0,Terça-Feira,3.0,1.0,2.0,2.0,B,Marketing
4,NaN,2.0,7,6.0,7.0,NaN,3,3,7,6.0,...,Casado,1.0,4.0,Quinta-Feira,6.0,2.0,1.0,2.0,A,Dados para Hotel

In [26]:
# Remover as colunas com índices 'Unnamed'
df = df.drop(columns=[coluna for coluna in df.columns if coluna.startswith('Unnamed:')])

In [27]:
df.head()

,P1,P2,P3,P4,P5,P6,.P7,P8,P9,P10,...,Qtipcama,Qcama,Qest,Qche,Qocup,Qid,Qgen,Qreg,Qclasse,Qs
0,2.0,7,7.0,5.0,4,2,6,7.0,5,1.0,...,Viuvo,1.0,4.0,Sábado,2.0,6.0,1.0,2.0,B,Dados para Marketing
1,3.0,2,2.0,6.0,4,2,5,1.0,3,2.0,...,Solteiro,1.0,1.0,Quinta-Feira,2.0,6.0,1.0,5.0,B,NaN
2,1.0,7,7.0,5.0,4,5,6,6.0,5,2.0,...,Viuvo,1.0,3.0,Sábado,3.0,4.0,1.0,2.0,B,Dados para Hotel
3,1.0,3,4.0,4.0,6,6,1,7.0,6,6.0,...,Casado,1.0,6.0,Terça-Feira,3.0,1.0,2.0,2.0,B,Marketing
4,2.0,7,6.0,7.0,3,3,7,6.0,5,2.0,...,Casado,1.0,4.0,Quinta-Feira,6.0,2.0,1.0,2.0,A,Dados para Hotel

In [28]:
# Usando a função split para remover espaços nos indexes das colunas
df.columns = df.columns.str.strip()

In [29]:
# # Usando a função str.replace para remover "." dos indexes das colunas
df.columns = df.columns.str.replace(".", "")

<ipython-input-29-99a3ba088efe>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(".", "")

Removendo conteudo indesejado das colunas

In [82]:
# Lista com todas as colunas
nomes = list(df)
nomes

['P1',
 'P2',
 'P3',
 'P4',
 'P5',
 'P6',
 'P7',
 'P8',
 'P9',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17',
 'P18',
 'P19',
 'P20',
 'P21',
 'P22',
 'P23',
 'P24',
 'P25',
 'P26',
 'P27',
 'P28',
 'P29',
 'P30',
 'P31',
 'P32',
 'P33',
 'P34',
 'P35',
 'P36',
 'P37',
 'P38',
 'P39',
 'P40',
 'P41',
 'P42',
 'P43',
 'P44',
 'P45',
 'P46',
 'P47',
 'P48',
 'P49',
 'P50',
 'P51',
 'P52',
 'P53',
 'P54',
 'P55',
 'P56',
 'P57',
 'P58',
 'Qesc',
 'Qciv',
 'Qnat',
 'Qtipcama',
 'Qcama',
 'Qest',
 'Qche',
 'Qocup',
 'Qid',
 'Qgen',
 'Qreg',
 'Qclasse',
 'Qs']

In [108]:
# Primeria coluna
df.loc[~df.loc[:, nomes[0]].isin(range(1,5)), nomes[0]] = 'nan'

In [109]:
# Seguna coluna
df.loc[~df.loc[:, nomes[1]].isin(range(1,9)), nomes[1]] = 'nan'

In [110]:
# Coluna 3 a 58
for coluna in range(2, 58):
    df.loc[~df.loc[:, nomes[coluna]].isin(range(1,8)), nomes[coluna]] = 'nan'

In [111]:
# Coluna Qesc
df.loc[~df.loc[:, nomes[58]].isin(range(1,7)), nomes[58]] = 'nan'

In [ ]:
# Checando qual indice pertence a qual coluna
nome[58]

In [113]:
# Checando se o filtro deu certo
for i in df['P21']:
    print(i)

3
7
3
7
3
4
5
3
1
nan
5
4
3
nan
1
3
6
nan
1
2
2
3
7
5
4
2
3
1
5
4
2
1
6
6
5
1
3
1
1
1
3
3
4
3
2
4
1
1
4
2
2
6
4
1
6
3
5
6
nan
nan
nan
nan
7
4
6
3
6
7
4
7
3
1
1
7
7
3
4
1
7
7
2
2
2
4
2
2
3
2
3
4
2
3
2
1
4
4
4
7
5
2
1
5
nan
1
3
2
7
7
6
3
3
4
1
5
4
4
4
5
4
2
2
4
3
5
6
1
1
3
3
5
4
1
4
3
6
1
2
2
1
3
5
3
6
3
2
7
7
3
1
7
nan
1
2
3
5
7
1
6
5
1
nan
4
7
5
1
1
2
5
6
2
1
5
2
3
3
2
3
7
1
4
1
3
2
1
2
3
4
nan
1
3
1
4
1
2
1
7
6
3
3
4
2
5
5
2
1
4
3
4
5
4
5
1
5
5
7
4
3
3
4
6
6
5
nan
4
2
2
4
3
7
2
6
1
1
6
2
5
3
2
5
6
3
3
3
2
5
1
6
7
7
6
5
3
7
2
3
1
2
3
7
4
5
1
3
2
3
5
3
3
2
2
2
3
2
2
4
7
2
6
2
2
3
3
4
5
4
6
5
3
7
4
2
4
3
4
3
3
3
2
7
1
5
1
5
1
3
1
3
1
1
2
6
4
6
3
3
4
4
1
2
4
1
1
3
3
7
5
2
1
2
4
6
6
2
4
2
4
4
nan
3
1
1
7
2
1
6
1
4
1
1
4
1
6
4
6
6
4
6
5
1
5
3
2
3
3
6
3
2
2
4
2
4
2
3
4
7
4
3
4
1
2
4
1
3
3
7
3
1
7
2
2
6
1
3
3
1
3
3
1
1
3
2
3
7
2
4
4
3
2
nan
7
1
2
1
3
5
4
1
4
4
1
4
4
3
3
2
1
2
7
1
2
5
1
4
3
3
2
5
3
1
5
2
3
5
7
6
1
2
5
3
1
5
4
5
1
4
3
5
4
2
2
3
6
2
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
5
5
2
2
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2
7
6
2
4
nan
6
4
3
2
1
5
4
2
4
3
5
5
1
7
3
6
1
2
6
7
5
4
1
2
3
5
2
7
4
5
1
5
1
4
6
4
7
3
6
3
6
3
7
4
4
6
2
6
1
3
4
4
1
1
6
5
1
3
1
6
7
2
4
4
3
2
5
3
3
7
2
7
3
3
1
4
2
6
6
6
7
6
1
6
1
3
7
4
5
4
2
1
1
1
1
1
3
4
1
2
2
5
3
1
2
1
2
6
3
6
6
7
3
7
5
4
1
4
3
4
3
4
1
1
5
2
5
4
6
4
2
6
6
1
5
5
5
7
2
1
3
3
6
1
7
1
1
3
2
3
5
2
6
6
7
2
2
3
3
nan
1
1
1
1
4
5
5
2
4
3
2
2
2
5
1
2
1
7
4
1
1
3
1
1
5
3
3
4
4
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2
7
2
1
7
5
6
3
4
2
3
2
3
4
4
3
7
4
2
2
4
4
4
4
3
1
4
4
1
5
2
3
1
6
1
1
3
7
1
4
6
7
5
6
6
7
3
7
1
3
5
4
6
2
4
4
1
6
6
5
1
3
2
5
2
1
2
3
2
2
5
7
2
2
2
5
7
7
6
1
1
5
2
5
6
2
5
5
6
1
1
5
3
2
2
2
4
6
4
5
4
4
3
6
4
5
4
2
1
2
4
4
5
3
2
5
3
1
7
7
4
7
6
5
7
1
4
nan
4
5
3
2
5
3
1
4
4
3
4
2
6
4
3
7
2
1
4
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1
6
2
1
3
3
4
1
6
2
3
1
2
4
4
6
6
3
1
2
4
6
1
4
2
7
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
4
4
5
4
4
5
4
1
3
3
6
nan
nan
nan
nan
nan
nan
2
5
4
3
4
2
6
5
4
5
4
2
1
7
1
7
2
4
4
2
6
2
5
1
5
1
3
1
5
4
4
1
2
7
6
1
7
1
4
4
3
4
1
5
2
3
7
2
7
5
1
4
4
1
4
7
5
2
7
4
3
4
2
3
3
1
5
5
3
4
4
2
4
4
4
2
2
3
3
2
1
3
1
4
1
4
4
1
1
4
3
3
1
4
7
3
1
4
1
4
3
3
4
3
7
7
7
2
1
1
2
5
3
1
4
4
3
4
7
2
1
5
3
6
4
1
5
6
2
6
3
2
7
1
7
4
1
2
2
4
3
2
7
3
7
1
3
2
7
4
2
7
1
4
1
2
5

# Essa célula abaixo não está pronta ainda e n consegui acabar ainda

In [30]:
# criar lista com as strings 'P1', 'P2', 'P3', ..., 'P58'
cols_to_numeric = []
for i in range(1, 59):
    cols_to_numeric.append('P' + str(i))

    
# aplicar pd.to_numeric a cada coluna
for col in cols_to_numeric:
    df.columns[col] = pd.to_numeric(df.columns[col], errors='coerce')

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices